* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font: inherit;
  vertical-align: baseline;
  font-family: "Verdana", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #eeeeee;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
